body{

background-color: black;
text-align: center;
font-family: Arial;

}

h1{

color:red;

}

p{

font-size: 20px;

}

button{

background-color: black;
color: white;
padding: 10px;
border-radius: 5px;

}